@media screen and (max-width:1600px) {
    #profile {
        height: 70vh;
        margin-bottom: 4rem;
    }

    #about {
        height: 70vh;
        margin-bottom: 8rem;
    }

    .about-container {
        flex-wrap: wrap;

    }

    .experince-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    #experience {
        height: 80vh;
    }

    #projects {
        height: 80vh;
       justify-content: center;
       align-items: center;
    }
    .article-container{
        justify-content: center;
    }
}


@media screen and (max-width:1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburder-nav {
        display: flex;
    }

    #experience, .experience-container {
        margin-top: 2rem;

    }

    #profile, .section-container {
        display: block;
    }

    .arrow {
        display: none;
    }

    section, .section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section_image-container {
        width: 275px;
        height: 275px;
        margin: auto;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .about-container {
        margin-top: 0;
    }

    .detls-container {
        flex-direction: column;
    }
    .article-container{
        justify-content: center;
    }

}



@media screen and (max-width:600px) {
    #contact, footer {
        height: 40vh;
    }

    #profile {
        height: 65vh;
        margin-bottom: 0;
    }

    article {
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-container, .contact-info-upper, .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }

    .experience-subtitle {
        font-size: 1.5rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        align-items: center;
    }

    .section_image-container {
        width: auto;
        height: 46vw;
        justify-content: center;

    }

    .p4 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-container {
        text-align: justify;
    }

    .experince-container {
        display: flex;
        flex-direction: column;
    }
    .article-container{
        justify-content: center;
    }

}